body
{

background-color:black;
color : white;
}
input[type=submit] {
  background-color: red;
  border: none;
  color: white;
  padding: 5px 6px;
  text-decoration: none;
  margin: 2px 1px;
  cursor: pointer;
}

button {
  background-color: red;
  border: none;
  color: white;
  padding: 5px 6px;
  text-decoration: none;
  margin: 2px 1px;
  cursor: pointer;
}

table #businesslist
{ 
	display: inline-block;
    float: left;
     border-spacing: 10px;
}

img {
    float: left;
    width:  150px;
    height: 150px;
    object-fit: cover;
}
a { display: block; }
.column {
  float: left;
  width: 15%;
  padding: 5px;
}


.row::after {
  content: "";
  
  clear: both;
  display: table;
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

#home
{
	  font-style:italics;
	  color:white;
}